$primary-color: #fff;
/*$primary-color: #444;
$secondary-color: rgb(76, 97, 165);
#c8d0ff
#3263ff*/
$secondary-color: #597fff;
$tertiary-color: #FFD259;
$show-home-image: true;
$home-image: url(../img/background-gear.png);
$background-opacity: 0.75;

@mixin ease-out {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
        z-index: -1;
      }
    }
  }
}

//Set text colour
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  }

  @else {
    @return #fff;
  }
}

//media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}