//Menu button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include ease-out();

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include ease-out();
  }

  //Rotate into X with menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {

      //Line 1 - rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      //Line 2 - hide
      &:nth-child(2) {
        opacity: 0;
      }

      //Line 3 - rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

//Menu overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  visibility: hidden;


  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include ease-out;

    &.show {
      //Slide in from the top
      transform: translate3d(0, 0, 0);
    }
  }

  //Branding
  &-branding {
    /*background: $primary-color;*/
    //background: url("../img/background-gear.jpg");
    background: url("../img/room/room_sml_bkg.jpg");
    @include ease-out;
    transform: translate3d(0, 100%, 0);

    &.show {
      //Slide in from the top
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      opacity: 0;
      height: 250px;
      background: url("../img/jr_bgdlg.png");
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include ease-out;

    &.show {
      //Slide in from the right
      transform: translate3d(0, 0, 0);
    }

    &.current>a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 1rem 0;
    font-weight: 400;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include ease-out;

    &:hover {
      color: $secondary-color;
    }
  }
}

//Delay each nav item slide by 0.1s
@for $x from 1 through 5 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}