@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;

  &.lg-heading {
    font-size: 4rem;
  }

  &.sm-heading {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%;
  //Sticky footer calc function
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      color: $secondary-color;

      &:hover {
        color: $tertiary-color;
        @include ease-out();
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: "bio-image bio bio""job1 job2 job3""job4 job5 job6";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bio-image;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.15rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job-4 {
    grid-area: job4;
  }

  .job-5 {
    grid-area: job5;
  }

  .job-6 {
    grid-area: job6;
  }

  .job {
    background: lighten($secondary-color, 30);
    padding: 1.5rem;
    border-bottom: $tertiary-color 5px solid;
  }
}

//Work/Projects
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.75rem;

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include ease-out;
    }
  }
}

//Contact page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  overflow: auto;


  div {
    font-size: 1.5rem;
    border: 2.5px #000 solid;
    padding: 1.5rem 2.0rem;
    margin-bottom: 2rem;

    @include ease-out;

    &:hover {
      padding: 1.0rem 1.5rem;
      background: $tertiary-color;
      border: 3px $secondary-color solid;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }

      i {
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
      }

      i {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}

//Button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $tertiary-color;
    color: set-text-color ($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  /*Replace with gears image background: darken($primary-color, 10);*/
  background: url(../img/background-gear_footer.jpg);
  color: set-text-color($primary-color);
  /*height: 60px;*/

  .footer-icons {
    float: right;

    a {
      margin-left: 1.5rem;

      &:hover {
        color: $tertiary-color;
        @include ease-out();
      }
    }
  }
}

/*Typewriter effect*/
/* Cursor */
.txt-type>.txt {
  border-right: 0.2rem solid #777;
}

/*Contact page image control*/
.contact-image {
  grid-area: bio-image;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
}

.contact-box div {
  border: none;
  margin-bottom: 0;
}


/*Animated  projects page*/
/*work_updates for animated grid*/
* {
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: auto;
  margin-bottom: 2rem;
  overflow: auto;
  padding: 0 2rem;
}

.main-header {
  /*height: 30vh;*/
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;
  text-align: center;*/
  padding: 2rem;

}



.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: lighten($secondary-color, 30);
  margin-bottom: 2rem;
  border-bottom: #FFD259 2px solid;
}

.card h3 {
  margin-bottom: 2rem;
}

.card {

  img {
    height: 100%;
    width: 100%;

    &:hover {
      opacity: 0.5;
      /*border-color: $secondary-color;*/
      border: 3px $secondary-color solid;
      @include ease-out;
    }
  }
}

.card>div {
  padding: 2rem;
}

.card:nth-child(even) a {
  order: 2;
}

@media(max-width: 700px) {
  .card {
    display: block;
  }
}

@import "mobile";